<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-biometric-authentication" version="0.0.1">
   <name>Biometric Authentication</name>
   <js-module name="BiometricAuthentication" src="www/BiometricAuthentication.js">
      <clobbers target="biometricauthentication" />
   </js-module>

   <!-- <engines>
      <engine name="cordova" version=">=9.0.0" />
    </engines> -->
	
	<engines>
        <engine name="cordova" version=">=6.0.0" />
    </engines>

   <!-- iOS platform  conifigurations -->
   <platform name="ios">
      <!-- iOS platform  conifiguration files -->
      <config-file parent="/*" target="config.xml">
         <feature name="BiometricAuthentication">
            <param name="ios-package" value="BiometricAuthentication" />
         </feature>
      </config-file>

      <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
         <string>App uses camera.</string>
       </config-file>

      <hook type="before_plugin_install" src="src/scripts/prepareCocoaPods.js" /> 

      <!-- iOS platform source and resource files -->
      <source-file src="src/ios/src/BiometricAuthentication.swift"/>
      <source-file src="src/ios/src/UIColor+Hex.swift"/>
      <!-- OZLivenessSDK source files -->
      <source-file src="src/ios/sdk/OZFileVideoManager.swift" />
      <source-file src="src/ios/sdk/OZFrameView.swift" />
      <source-file src="src/ios/sdk/OZFrameViewController.swift" />
      <source-file src="src/ios/sdk/OZLivenessViewController.swift" />
      <source-file src="src/ios/sdk/OZRequestManager.swift" />
      <source-file src="src/ios/sdk/OZResources.swift" />
      <source-file src="src/ios/sdk/OZSDK-API.swift" />
      <source-file src="src/ios/sdk/OZSDK.swift" />
      <source-file src="src/ios/sdk/OZUI.swift" />
      <!-- iOS platform OZLivenessSDK resource files -->
      <resource-file src="src/ios/res/GoogleService-Info.plist"  />
      <resource-file src="src/ios/res/OZLocalizationBundle.bundle"  />
      <resource-file src="src/ios/res/OZResourceBundle.bundle" />
      <!-- iOS platform frameworks -->
      <!-- <framework src="Alamofire" type="podspec" spec="4.9.0" /> 
	  <framework src="SVProgressHUD" type="podspec" spec="2.2.5"/>
	  <framework src="Firebase/Core" type="podspec" spec="6.21.0"/>
	  
	  <resource-file  src="src/ios/Podfile" target="../../../" />
	  
	   <framework src="DeviceKit" type="podspec" spec="2.1.0"/>
	   
	  <framework src="Alamofire" type="podspec" spec="4.9.0" /> 
	  <framework src="DeviceKit" type="podspec" spec="2.1.0"/>
		<framework src="Firebase/Core" type="podspec" spec=""/>
		<framework src="Firebase/MLVision" type="podspec" spec="5.2.0"/>
		<framework src="Firebase/MLVisionFaceModel" type="podspec" spec="5.2.0"/>
		<framework src="Firebase/Core" type="podspec" spec=""/>
		
		<dependency id="cordova-plugin-add-swift-support"  />
		

        <pods-config ios-min-version="10.0" use-frameworks="true"/>

	  <pod id="Firebase/Core" />
	  
			<pod id="Alamofire" version="4.9.0"/>
		<pod id="DeviceKit" version="2.1.0"/>
        <pod id="Firebase/Core" />
		<pod id="Firebase/MLVision" version="5.2.0"/>
		<pod id="Firebase/MLVisionFaceModel" version="5.2.0"/>
	  -->
		

	  
		  <podspec>
         <config>
           <source url="https://github.com/CocoaPods/Specs.git"/>
         </config>
         <pods use-frameworks="true">
           <pod name="Alamofire" spec="4.9.0" />
           <pod name="DeviceKit" spec="2.1.0" />
           <pod name="Firebase/Core" />
           <pod name="Firebase/MLVision" spec="5.2.0"/>
           <pod name="Firebase/MLVisionFaceModel" spec="5.2.0"/>
           <pod name="SVProgressHUD" />
         </pods>
       </podspec> 
   </platform>

		
		
		<!--
				<preference name="UseLegacySwiftLanguageVersion" value="true" />
      <preference name="UseSwiftLanguageVersion" value="4" />
      <preference name="swift-version" value="4.2" />
	  
      <podspec>
         <config>
           <source url="https://github.com/CocoaPods/Specs.git"/>
         </config>
         <pods use-frameworks="true">
           <pod name="Alamofire" spec="4.9.0" />
           <pod name="DeviceKit" spec="2.1.0" />
           <pod name="Firebase" spec="6.21.0"/>
           <pod name="Firebase/Core" spec="6.6.5"/>
           <pod name="Firebase/MLVision" spec="0.19.0"/>
           <pod name="Firebase/MLVisionFaceModel" spec="0.19.0" />
           <pod name="SVProgressHUD" spec="2.2.5" />
         </pods>
       </podspec> -->
	   
   </platform>

   <!-- Android platform  conifigurations -->
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="BiometricAuthentication">
            <param name="android-package" value="cordova-plugin-biometric-authentication.BiometricAuthentication" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
	   <source-file  src="src/android/gradle.properties" target-dir="../../" />
      <source-file src="src/android/BiometricAuthentication.java" target-dir="src/cordova-plugin-biometric-authentication/BiometricAuthentication" />
   </platform>

</plugin>