<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223888387184-nhg255ca5rmmu5lmkpa9dlj7o0p8g866.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223888387184-nhg255ca5rmmu5lmkpa9dlj7o0p8g866</string>
	<key>API_KEY</key>
	<string>AIzaSyBZUxhgYYYDNDEr_3aktqk-k-gyvlCYbos</string>
	<key>GCM_SENDER_ID</key>
	<string>223888387184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grighakobian.HelloWorld</string>
	<key>PROJECT_ID</key>
	<string>phonegap-helloworld-e4306</string>
	<key>STORAGE_BUCKET</key>
	<string>phonegap-helloworld-e4306.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223888387184:ios:eb21c484e5b83be62598b5</string>
	<key>DATABASE_URL</key>
	<string>https://phonegap-helloworld-e4306.firebaseio.com</string>
</dict>
</plist>